<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/Assets/css/normalize.css">
<link rel="stylesheet" href="/Assets/css/skeleton.css">
</head>
<body>
 <div class="container">
  <div class="row">
   <div class="eleven column" style="margin-top: 10%">
    <h2>{{title}}</h2>
     {{#tasks}}
     {{#show}}<form>{{/show}}
     <form action="/tasks" method="POST">
     <div class="row">
      <div class="six columns">
       <label for="nameInput">Author</label>
       <input class="u-full-width" type="text" 
	     {{#show}} readonly {{/show}}
          name="author" value="{{author}}">
      </div>
      <div class="six columns">
        <label for="stateSelect">State</label>
        <select class="u-full-width uk-text-bold" name="state" {{#show}} disabled {{/show}}>
            <option value="pendiente" {{#ifCond state "==" "pendiente"}}selected{{/ifCond}}>Pendiente</option>
            <option value="en_proceso" {{#ifCond state "==" "en_proceso"}}selected{{/ifCond}}>En Proceso</option>
            <option value="completado" {{#ifCond state "==" "completado"}}selected{{/ifCond}}>Completado</option>
        </select>
       </div>
       <div class="six columns">
        <label for="nameInput">Date Start</label>
        <input class="u-full-width" type="date" 
          {{#show}} readonly {{/show}}
           name="date_start" value="{{date_start}}">
       </div>
       <div class="six columns">
        <label for="nameInput">Date End</label>
        <input class="u-full-width" type="date" 
          {{#show}} readonly {{/show}}
           name="date_end" value="{{date_end}}">
       </div>
       <div class="six columns">
        <label for="nameInput">Note</label>
        <input class="u-full-width" type="text" 
          {{#show}} readonly {{/show}}
           name="note" value="{{note}}">
       </div>
       <div class="six columns">
        <label for="nameInput">Name</label>
        <input class="u-full-width" type="text" 
          {{#show}} readonly {{/show}}
           name="name" value="{{name}}">
       </div>
    
     </div>
     <input type="hidden" name="board_id" value="{{board_id}}">
     <a class="button button-primary" href="/tasks?board_id={{board_id}}">Back</a>
     {{#create}}<input style="float: right" class="button-primary" type="submit" value="Create">{{/create}}
     {{/tasks}}
    </form>
   </div>
  </div>
 </div>
</body>
</html>
