    <!-- custom -->
  
    <link rel="stylesheet" href="/Assets/css/tasks.css">
    <img src="/Assets/images/fondos/bords1.png" class="bottom-right-image">

<div class="bottom-border"></div>
<div class="container">
  {{> navbar}}



  <div class="row">
    <h2 style=" margin-left: 100px;">{{title}}</h2>
    {{#board}}
    <a class="button-new" style="text-decoration: none;" href="/tasks/create?board_id={{id}}">New</a>
  {{/board}}
    <div>
      <form action="/tasks" method="GET" style="margin-top: 20px">
      </form>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Author</th>
            <th>State</th>
            <th>Date Start</th>
            <th>Date End</th>
            <th>Note</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#tasks}}
          {{#login}}
          <tr>
            <td>{{name}}</td>
            <td>{{author}}</td>
            <td class="state-{{state}}">{{state}}</td> <!-- Agrega la clase correspondiente al estado -->
            <td>{{date_start}}</td>
            <td>{{date_end}}</td>
            <td>{{note}}</td>
            <td>
              <a class="button" href="tasks/{{id}}">Ver</a>
              <a class="button" href="tasks/{{id}}/edit">Editar</a>
              <a class="button" href="tasks/{{id}}/delete">Eliminar</a>
            </td>
          </tr>
          {{/login}}
          {{/tasks}}
        </tbody>
      </table>
      {{#login}}
      {{/login}}
    </div>
  </div>
</div>
