<!DOCTYPE html>
<html>
<head>

</head>
<body>
 <div class="container">
  {{> navbar}}
  <div class="row">
   <div>
     <h2>{{title}}</h2>

     <form action="/user" method="GET">
      <label for="search">Search by Name:</label>
      <input type="text" id="search" name="search">
      <button type="submit">Search</button>
  </form>
     <table><thead>
      <tr><th>Name</th><th>email</th>
      </thead><tbody>
      {{#users}}
      {{#login}}
      <tr><td>{{name}}</td>
        <td>{{email}}</td>
      <td>
        <a class="button" href="user/{{id}}">Show</a>
      <a class="button" href="user/{{id}}/edit">Editar</a>
      <a class="button" href="user/{{id}}/delete">Eliminar</a>
	  {{/login}}
      </td>
      </tr>
      {{/users}}</tbody>
     </table>
	 {{#login}}
     <a class="button" href="/user/create">New</a>
	 {{/login}}
    </div>
   </div>
 </div>
</body>