.custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
  }
  
  .custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .custom-table tr:hover {
    background-color: #ddd;
  }
  
  .custom-table a.button {
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .custom-table a.button:hover {
    background-color: #0056b3;
  }

  /*mover imagen*/
  .bottom-right-image {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 600px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Mantén la proporción de la imagen */
    z-index: 9999; /* Ajusta el z-index según sea necesario */
}

/*linea de color*/
.bottom-border {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho de la página */
  height: 20px; /* Grosor de la línea */
  background-color: #007bff; /* Color de la línea */
  z-index: 9998; /* Asegura que esté detrás de la imagen */
}

/*colores de los estados*/
.state-pendiente { background-color: #ece25d; }
.state-en_proceso { background-color: #007bff; }
.state-completado { background-color: #27c034; }