<!DOCTYPE html>
<!-- file: views/professor/index.html -->
<html>
<head>
</head>
<body>
 <div class="container">
  {{> navbar}}
  <div class="row">
   <div>
     <h2>{{title}}</h2>
     <form action="/boards" method="GET">
      <label for="search">Search by Name:</label>
      <input type="text" id="search" name="search">
      <button type="submit">Search</button>
  </form>
     <table>
       <thead>
         <tr>
           <th>Name</th>
           <th>User ID</th> <!-- Asumiendo que quieres mostrar el ID del usuario -->
           <th>Actions</th>
         </tr>
       </thead>
       <tbody>
         {{#boards}}
           <tr>
             <td>{{name_bds}}</td>
             <td>{{id_user}}</td>
             <td>
               <a class="button" href="/tasks?board_id={{id}}">Tareas</a>
               <a class="button" href="boards/{{id}}/edit">Editar</a>
               <a class="button" href="boards/{{id}}/delete">Eliminar</a>
             </td>
           </tr>
         {{/boards}}
       </tbody>
     </table>
     {{#login}}
       <a class="button" href="/boards/create">New</a>
     {{/login}}
   </div>
  </div>
 </div>
</body>
</html>
